@font-face {
	font-family: "Fira Code";
	src: url("/fonts/FiraCode-Medium.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: "Fira Code";
	src: url("/fonts/FiraCode-Bold.woff2") format("woff2");
	font-weight: 700;
}

:root {
	--main-bg-color: #121212;
	--main-text-color: white;
	--secondary-text-color: gray;
	--accent-color: #7232f2;
}

*, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	/* If I put 100% the page is taller than the screen (why?) */
	height: 98%;
	width: 100%;

	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: "Fira Code", "San Francisco Mono", "Cascadia Code", "Cascadia Mono", "Ubuntu Mono", "Roboto Mono", "Menlo", "Monaco", "Consolas", monospace;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding-right: 50px;
	padding-left: 50px;
}

header {
	height: 50px;
	width: 100%;
	padding-top: 10px;

	display: flex;
	justify-content: flex-end;
}

header a {
	padding-left: 5px;
	padding-right: 5px;
	
	text-decoration: none;
	color: var(--secondary-text-color);
	font-size: 1em;
	font-weight: 700;
}

header .actif {
	text-decoration-line: underline;
}

header a:hover {
	color: var(--accent-color)
}

#content {
	flex-grow: 1;
	max-width: 400px;
	margin: auto;
}

#content h1 {
	padding-top: 10%;
	margin-left: -0.9em;

	font-size: 2em;
}

#content h1::before {
	margin-right: 10px;

	content: "#";
	color: var(--accent-color);
	font-weight: 500;
}

#content p {
	text-align: justify;
	text-justify: inter-word;
	font-size: 1em;
}

#content a {
	text-decoration: none;
	text-decoration-line: underline;
	color: var(--accent-color);
}

footer {
	height: 50px;
}

#contacts {
	display: flex;
	width: 100%;

	justify-content: center;
}

#contacts img {
	height: 30px;
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;

	/* https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(47%) sepia(0%) saturate(1389%) hue-rotate(241deg) brightness(106%) contrast(113%);
}

#contacts img:hover {
	filter: invert(37%) sepia(89%) saturate(7178%) hue-rotate(256deg) brightness(96%) contrast(97%);
}

#copyrights {
	height: 30px;

	font-size: 0.8em;
	text-align: center;
	color: var(--secondary-text-color);
}
